<div class="property property--number">
    <span>{{label}}</span>
    <div>
        <label for="{{id.x}}" class="property__label">X</label>
        <input id="{{id.x}}" class="property__input" value="{{val.x}}" type="number" step="0.01" />
        <label for="{{id.y}}" class="property__label">Y</label>
        <input id="{{id.y}}" class="property__input" value="{{val.y}}" type="number" step="0.01" />
        <label for="{{id.z}}" class="property__label">Z</label>
        <input id="{{id.z}}" class="property__input" value="{{val.z}}" type="number" step="0.01" />
        <label for="{{id.w}}" class="property__label">W</label>
        <input id="{{id.w}}" class="property__input" value="{{val.w}}" type="number" step="0.01" />
    </div>
</div>
