<div class="property property--number">
  <span>{{label}}</span>
  <label for="{{id.position.x}}" class="property__label">positon X</label>
  <input id="{{id.position.x}}" class="property__input" value="{{val.position.x}}" />
  <label for="{{id.position.y}}" class="property__label">positon Y</label>
  <input id="{{id.position.y}}" class="property__input" value="{{val.position.y}}" />
  <label for="{{id.position.z}}" class="property__label">positon Z</label>
  <input id="{{id.position.z}}" class="property__input" value="{{val.position.z}}" />
  <label for="{{id.rotation.x}}" class="property__label">rotation X</label>
  <input id="{{id.rotation.x}}" class="property__input" value="{{val.rotation.x}}" />
  <label for="{{id.rotation.y}}" class="property__label">rotation Y</label>
  <input id="{{id.rotation.y}}" class="property__input" value="{{val.rotation.y}}" />
  <label for="{{id.rotation.z}}" class="property__label">rotation Z</label>
  <input id="{{id.rotation.z}}" class="property__input" value="{{val.rotation.z}}" />
  <label for="{{id.rotation.a}}" class="property__label">rotation A</label>
  <input id="{{id.rotation.a}}" class="property__input" value="{{val.rotation.a}}" />
</div>
